$primary-color: #4763e4;
$primary-hover: #3651b3;
$light-color: #5c73db;
$light-hover: rgba(92, 115, 219, 0.1);
$red-color: #dc2626;
$red-hover: darkred;
$shadow-color: #a1a1a1;

@mixin buttons($padding-top, $padding-bottom, $padding-left, $padding-right) {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: none;
  text-align: start;
  font-weight: 400;
  background: transparent;
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  padding-right: $padding-right;
  padding-left: $padding-left;
}

@mixin action-button() {
  @include buttons(0.781vh, 0.781vh, 0.556vw, 0.556vw);
  min-width: 83px;
  justify-content: center;
  font-size: 0.833vw;
}

@mixin sideBarSectionButton() {
  width: 100%;
  font-size: 16px;
  justify-content: space-between;
  &:hover {
    background-color: $primary-hover;
  }
}

.button {
  &--primary {
    @include buttons(1.563vh, 1.563vh, 1.111vw, 1.111vw);
    justify-content: center;
    background-color: $primary-color;
    &:hover {
      background-color: $primary-hover;
    }
  }

  &--sidebar-page-button {
    @include buttons(0.781vh, 0.781vh, 2.5vw, 2.5vw);
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    background: transparent;
    &:hover {
      background-color: $primary-hover;
    }
  }

  &--sideBar-section-button {
    @include buttons(0.781vh, 0.781vh, 0.5vw, 0.5vw);
    @include sideBarSectionButton();
  }

  &--sideBar-section-button-hidden {
    @include buttons(0.781vh, 0.781vh, 0.5vw, 0.5vw);
    @include sideBarSectionButton();
    fill: $shadow-color;
    color: $shadow-color;
  }

  &--actions-light {
    @include action-button();
    border: 1px solid $primary-color;
    color: $primary-color;
    &:hover {
      background-color: $light-hover;
    }
  }

  &--actions-red {
    @include action-button();
    background: $red-color;
    &:hover {
      background-color: $red-hover;
    }
  }
}
