:root {
  --primary-color: #4763e4;
  --primary-hover: #3651b3;
  --light-color: #5c73db;
  --light-hover: rgba(92, 115, 219, 0.1);
  --red-color: #dc2626;
  --red-hover: darkred;
  --border-radius: 10px;
  --shadow-color: #d4d4d8;
}

@mixin button-styles(
  $bg-color,
  $hover-color,
  $padding: 16px,
  $border: none,
  $color,
  $font-size,
  $font-weight
) {
  width: 100%;
  border-radius: var(--border-radius);
  border: $border;
  display: flex;
  align-items: center;
  background-color: $bg-color;
  padding: $padding;
  min-width: 81.5px;
  cursor: pointer;
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;

  &:hover {
    background-color: $hover-color;
  }
}

.button {
  &--sideBar-section-button {
    @include button-styles(
      transparent,
      var(--primary-hover),
      10px,
      none,
      white,
      16px,
      500
    );
  }

  &--sidebar-page-button {
    @include button-styles(
      transparent,
      var(--primary-hover),
      10px,
      none,
      white,
      16px,
      400
    );
    padding-left: 20%;
  }

  // &--primary {
  //   @include button-styles(var(--primary-color), var(--primary-hover));
  // }

  // &--primary-light-shadow {
  //   @include button-styles(
  //     transparent,
  //     black,
  //     var(--shadow-color),
  //     1px solid var(--shadow-color)
  //   );
  // }

  // &--primary-light {
  //   @include button-styles(
  //     transparent,
  //     var(--primary-color),
  //     var(--shadow-color),
  //     1px solid var(--primary-color)
  //   );
  // }

  // &--actions-light {
  //   @include button-styles(
  //     transparent,
  //     var(--primary-color),
  //     var(--light-hover),
  //     1px solid var(--primary-color)
  //   );
  // }

  // &--actions-red {
  //   @include button-styles(var(--red-color), var(--red-hover), none);
  // }

  // &--actions-blue {
  //   @include button-styles(var(--primary-color), var(--primary-hover), none);
  // }

  // &--transparent-button {
  //   @include button-styles(transparent, var(--primary-hover), none);
  // }
}

@mixin button-text-style($size, $color, $weight) {
  flex: 1; // Занимает всё доступное пространство
  color: $color;
  font-size: $size;
  font-weight: $weight;
  text-align: center; // Центрирование текста
}

.button__text {
  &--utilisateurs {
    @include button-text-style(16px, white, 400);
    padding-left: 10%;
  }

  &--configuration {
    @include button-text-style(16px, white, 500);
    padding-left: 0;
  }
}
