.users {
  display: flex;
  overflow: auto;
  flex-direction: column;
  gap: 1vh;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;

  .users__members {
    border-radius: 10px;
    width: 100%;
    height: 66.5vh;
    background: white;
  }
}
